body {
  margin: 0;
  padding: 0;
  background-color: rgb(16, 87, 91);
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

.header {
  height: 70px;
  padding-top: 10px;
  margin: 0 5% 0 5%;
}

.f-style{
  color: rgb(252, 158, 32) ;
  font-size: 3.5rem;
}
.nf-style{
  color: rgb(252, 158, 32) ;
}

.navbar {
  height: 60px;
  display: flex;
}

.nav-1 {
  flex: 5;
  display: flex;
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 50px;
  border-radius: 100%;
  margin: 0 2px 0 2px;
}

.nav-name {
  height: 60px;
  display: flex;
  align-items: center;
  letter-spacing: 5px;
  font-weight: 600;
  font-size: 2.0rem;
  color: white;
}

.nav-2 {
  flex: 5;
}

.nav-item ul {
  margin-top: 10px;
  height: 40px;
  display: flex;
  align-items: center;
  list-style: none;
  border-radius: 50px;
}

.nav-item li {
  width: 100%;
  flex: 1;
}

.nav-item a {
  text-decoration: none;
  color: #bbb;
}

.nav-3 a {
  text-decoration: none;
}

ul li :hover {
  padding-left: 10px;
  color: rgb(252, 158, 32);
  transition: all 0.5s ease;
}

.nav-3 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
hr{
  background-color:  rgb(252, 158, 32);
}


/*Button*/
.btn {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  width: 100px;
  font-size: 0.94rem;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 50px;
  font-weight: 500;
  background-color: rgb(250, 146, 10);
}

.contain :hover {
  position: relative;
  margin-left: 3px;
  color: rgb(252, 158, 32);
  background-color: rgb(26, 25, 25);
  border: 1px solid  rgb(252, 158, 32);
}




/*Main Body*/
.main {
  margin: 0 5% 0 5%;
  height: auto;

}

.sub {
  margin-top: 5%;
  height: 490px;
  display: flex;
}

.sub-col {
  height: inherit;
  flex: 1;


}

.data {
  padding: 10% 0 2% 0;
  letter-spacing: 3px;
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 50px;
}

.sub-data {
  padding: 0 0 2% 2%;
  text-align: start;
  font-style: italic;
  font-size: 0.9rem;
  line-height: 20px;
}

.contain {
  margin-left: 2%;
}

.contain .sub-btn {
  width: 150px;
}

.image {
  height: inherit;
}

.image img {
  overflow: hidden;
  height: 400px;
  padding-left: 20%;
  position: relative;
  top: -20px;
}


.sub .row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

/*Product Detail*/
.product-detail{
  height: auto;
  border-radius: 50px;
  margin:20px 0  20px 0;
}
.product-heading{
  display: flex;
  justify-content: center;
  padding-top: 2%;
  font-size: 1.6rem;
  font-weight: 600;
  color: rgb(250, 146, 10);
}
.product-heading span{
  font-size: 2.5rem;
  color: rgb(250, 250, 250);
}
.product-detail .row{
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row a{
  text-decoration: none;
  margin: 2%;

}
.card{
  backdrop-filter: blur(30px);
  box-shadow: 0px 0px 30px rgba(227,228,237,0.37);
  border: 2px solid rgba(225,225,225,0.18);
  width: 180px;
  height: 260px;
  border-radius: 20px;
}
.card-img{
  display: block;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-img img{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-top: 10px;
}
.card-heading{
  display: flex;
  justify-content: center;
  padding-top: 2% ;
  font-size: 1rem;
  font-weight: 600;
  color: black;
}
.card-heading span{
  color: rgb(250, 146, 10);
}
.card-detail{
 color: black;
  margin: 7px 8px 3px 8px;
  line-height: 13px;
  text-align:center;
}
.card .contain{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

/*Footer*/


.footer-ul {
  list-style: none;
}

.footer {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin: 0 5% 0 5%;
  background-color: rgba(255, 255, 255, 0.193);
  padding: 60px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}


.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: rgb(250, 146, 10);
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}